/.vscode
/.idea
/coverage
/doc/*
/specs
/test
.editorconfig
.eslintcache
.eslintignore
.eslintrc.json
.gitattributes
.nyc_output
.npmignore
.prettierignore
.travis.yml
gulpfile.js
*.tgz
!doc/cesium.png
